<ion-header>
  <ion-toolbar class="customToolbar">
    <ion-title class="customColor">{{'about-us.title'|translate}}</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="customColor"></ion-menu-button>
    </ion-buttons> 

  </ion-toolbar>
</ion-header>

<ion-content>
  ​<div class="divHeader">
   <h4 class="headerTitle">Kaaryam</h4>
  </div>
  <div class="content">
    <div class="aboutInfoDiv">
      <h4 class="subHeader">{{'about-us.About Kaaryam'|translate}}:</h4>

      <p class="infoPTag">{{'about-us.subText'|translate}}</p>

      <h4 class="subHeader">{{'about-us.Contact Our Team'|translate}}:</h4>

      <ion-item>
        <ion-icon name="mail" class="icons"></ion-icon>
        <ion-label class="contactLabel"><a href="mailto:rural@dheya.com" class="links">rural@dheya.com</a></ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="call" class="icons"></ion-icon>
        <ion-label class="contactLabel"><a href="tel:9766315559" class="links">9766315559</a></ion-label>
      </ion-item>

      <h4 class="subHeader">{{'about-us.Address'|translate}}:</h4>
      <p class="infoPTag">{{'about-us.detailAddress'|translate}}</p>

      <p class="contactTag">{{'about-us.Please contact us if you have any questions'|translate}}</p>

    </div>

    

  </div>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
</ion-content>
