<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content  style="--background: url('/assets/img/Login-bg-2.png') no-repeat !important;">
  <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    <!-- <div class="mainContainer"> -->
      
      <div class="loginText">
        <h4 class="signtitle">{{'login.Login'|translate}}</h4>
        <p class="subText"> {{'login.Welcome Back and'|translate}}</p>
        <p class="subText">{{'login.Glad to see you'|translate}}</p>
      </div>

      <ion-row>
        <ion-col class="englishCol">
          <ion-label (click)="languageChanged('en')">English</ion-label>
        </ion-col>
        &nbsp;&nbsp;
        <ion-col>
          <ion-label (click)="languageChanged('mr')">मराठी</ion-label>
        </ion-col>
      </ion-row>

      <!-- <ion-radio-group>
      <ion-row>
        <ion-col col=6>
          <ion-item class="languageItem">
            <ion-label>English</ion-label>
            <ion-radio slot="start" value="en" (click)="languageChanged('en')"></ion-radio>
          </ion-item>
        </ion-col>
  
        <ion-col col=6>
          <ion-item class="languageItem">
            <ion-label>मराठी</ion-label>
            <ion-radio slot="start" value="mr" (click)="languageChanged('mr')"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group> -->

      <div class="loginDiv">
        <ion-item class="items">
          <ion-input name="email" type="email"  placeholder="{{'login.username'|translate}}" formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" ></ion-input>
          <ion-icon name="mail-outline" item-right></ion-icon>
        </ion-item>
        <div class="errorMsg" *ngIf="submitted && f.email.errors && f.email.errors.required">{{'login.Username is required'|translate}}</div>
        <!-- <div class="errorMsg" *ngIf="submitted && f.email.errors && f.email.errors.pattern">Please enter valid format</div> -->
        
        <ion-item class="items">
          <ion-input name="password" [type]="passwordType" placeholder="{{'login.Password'|translate}}" formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"></ion-input>
          <ion-icon [name]="iconType" item-right (click)="toggleTextPassword()"></ion-icon>
        </ion-item>
        <div class="errorMsg" *ngIf="submitted && f.password.errors && f.password.errors.required">{{'login.Password is required'|translate}}</div>
        <!-- <div class="errorMsg" *ngIf="submitted && f.password.errors && f.password.errors.minlength">Password should be minimum 6 characters</div> -->

        <div class="forgotPasswordDiv" >
          <p class="forgotPasswordText" (click)="forgotPassword()">{{'login.Forgot Password?'|translate}}</p>
        </div>
        <div>
          <ion-button class="loginButton" color="danger" type="submit" [disabled]="!loginForm" expand="block">{{'login.Login'|translate}} <ion-spinner name="dots" *ngIf="isCalling" class="loader"></ion-spinner></ion-button>
        </div>
      </div>
    <!-- </div> -->
  </form>

</ion-content>
