.ios,.md{

    .bottomTabbar{
        --background:#d3d3d330;
    }
  .active-link{
      // color: #30BCAA;
      // --border-color: #30BCAA;
      color: #ffa848;
      --border-color: #ffa848;
  }
  .customToolbar{
    text-align: center;
    --ion-toolbar-background: linear-gradient( to right, rgb(243, 130, 5) 0%, rgba(239, 172, 101, 0.89) 90%, rgb(242, 182, 118) 100% );
  }
  .margdarshakImg{
    width: 50%;
  }

} 