.ios, .md{
    
    .custom-footer-div{
        padding: 12px;
        text-align: center;
        font-size: 15px;
        background: #ff6c36e8;//#FFA848;
        color: #fff;
        text-transform: uppercase;
    }
   
}