<ion-header>
  <ion-toolbar class="customToolbar">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="login" class="customColor"></ion-back-button>
    </ion-buttons>

    <ion-title class="customColor">{{'forgot-password.title'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainDiv">
    <img src="assets/img/forgot_password.jpg" class="forgotImage"/>
    
    <p class="text1"> {{'forgot-password.subText1'|translate}}</p>
    <p class="text2"> {{'forgot-password.subTtext2'|translate}}</p>
    <br />

    <ion-item class="inputItem">
      <ion-input type="text" placeholder="{{'forgot-password.Enter Email Address'|translate}}" style="text-align:center" [(ngModel)]="email"></ion-input>
    </ion-item>
    <br/>
    
    <div class="submitDiv">
      <ion-button (click)="forgoPassword()" >{{'forgot-password.Submit'|translate}}<ion-spinner name="dots" *ngIf="isCalling" class="loader"></ion-spinner></ion-button>
    </div>
  </div>

</ion-content>
