.ios,.md{

    .customToolbar{
        --ion-toolbar-background: linear-gradient(
            to right,
            rgb(37, 131, 199) 0%,
            rgba(49, 191, 169, 1) 90%,
            rgba(49, 191, 169, 1) 100%
          );
    }
    // .customToolbar{
    // --ion-toolbar-background: linear-gradient( 
    //     to right, 
    //     rgb(234, 130, 15) 0%,
    //      rgba(236, 163, 84, 0.89) 90%,
    //       rgb(242, 182, 118) 100% 
    //       );
    // }
    .customColor{
        --color: #ffffff !important;
    }
    
    .mainDiv{
        transform: translateY(20%);
        margin: 0;
        position: fixed;
    }
    .forgotImage{
        display: block;
        margin: auto;
        width: 40%;
        height: 25%;
        border-radius: 50%;
    }
    .text1{
        text-align: center;
        font-size: 15px;
        padding: 0px 25px;
    }
    .text2{
        color: #5d5e5f;
        text-align: center;
        font-size: 15px;
        padding: 0px 15px;
    }
    .inputItem{
        width: 80%;
        margin: auto;
    }
    .submitDiv{
        text-align: center;
    }
}