.ios, .md{

    .customToolbar{
        --ion-toolbar-background: linear-gradient(
            to right,
            rgb(37, 131, 199) 0%,
            rgba(49, 191, 169, 1) 90%,
            rgba(49, 191, 169, 1) 100%
        );
    }
    .customColor{
        --color: #ffffff !important;
    }
    .errorMsg{
        color: red;
        font-size: 11px;
    }
    .updateForm{
        margin-top: 20px;
    }
    .updateBtnDiv{
        padding: 12px;
    }
    .address{
        overflow:hidden; 
        white-space:nowrap; 
        text-overflow: ellipsis;
    }

}